<h2><%= room.name %></h2>
<div>
  <textarea id='message' cols=40 rows=4></textarea>
  <input type='button' id='send' value='送信'></input>
</div>
<div id='message_area'>
  <table id='message_list'>
    <% comments.forEach(function(comment){ %>
      <tr><td>ID:</td><td><%= comment.id %></td></tr>
      <tr><td>コメント:</td><td><%= comment.message %></td></tr>
    <% }); %>
  </table>
</div>